html, body {
	height: 75%;
}

html {
	display: table;
	margin: auto;
}

body {
	display: table-cell;
	vertical-align: middle;
	word-wrap: break-word;
	width: 800px;
}

.center {
	margin: auto;
	width: 100%;
	padding: 10px;
}

.create-annotation-ui {
	position: absolute;
	transform: translate(-50%, -50%);
    opacity: 1;
}

.annotation {
	background-color: orange;
}