<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Annotations Example</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-core.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-textrange.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-classapplier.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-highlighter.js"></script>
        <script type="text/javascript" src="js/annotations.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
    </head>
    <body>
        <div id="case" th:text="${case.getCaseText()}">
            You need to specify a case id in the URL parameter.
        </div>
    </body>
</html>