<html>
    <head>
        <title>Annotations Example</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-core.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-textrange.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-classapplier.js"></script>
        <script type="text/javascript" src="js/rangy/rangy-highlighter.js"></script>
        <script type="text/javascript" src="js/annotations.js"></script>

        <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
    <body>
        <div id="case">
            <h3>Participant Selection</h3>
            <p>There is little information on the <em>selection</em> of participatory experts and innovators but it can be assumed that they were contacts of the event collaborators, Levuur and Kortom, or known to the Flemish government. <b>Nevertheless</b>, there does appear to have been a diversity of view points and opinions represented since one of the keynote speakers, Manu Claeys, is a well known civil society activist and essayist famous for organizing an opposition movement against the “Oosterweelverbinding” – a controversial government development plan of the Antwerp ‘Ring Road’.</p>
            <p>With the new communication policy and the drafting of the 2014-2020 Communication Vision, the blog “Toe Com St” was established to allow active participation from any individual in the process. It was through this blog that the event “Participatie De Wol Bij Al Het Geblaat” was announced and all minutes and activities were archived and made available for public use and comment. Open calls for participants were made on the Toe Com St blog, through the government’s website and on circulated on various social media channels. The sign-up form was located on the Kortom website; ticket prices were between 120 and 35 Euros depending on whether or not someone was a member of an invited organization and which events one wanted to attend (day time lectures and/or night time workshop).</p>
            <p>The event was marketed to “communications officials, policy makers, politicians and anyone who has a "design question", and for anyone who wants to debate about it [the new government communications policy].”<a href="#_ftn1" name="_ftnref1" title="" id="_ftnref1">[1]</a> Over two hundred people attended – a full list of participants is available in the external links section below.</p>
            <p><a href="#_ftnref1" name="_ftn1" title="" id="_ftn1">[1]</a> <a href="http://communicatie.vlaanderen.be/nlapps/docs/default.asp?id=1164">http://communicatie.vlaanderen.be/nlapps/docs/default.asp?id=1164</a></p>
        </div>
    </body>
</html>