<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Annotations View Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/test.css"/>
</head>
<body>
<div id="page-container">
    <h1>Annotations associated with document</h1>
    <div id="annotations">
    <th:block th:each="annotation : ${annotations.values()}">
        <div class="annotation-container" th:id="'annotation' + ${annotation.getId()}">
            <h2 th:text="'Written by ' + ${authors.get(__${annotation.authorId}__).getForename()} + ' ' + ${authors.get(__${annotation.authorId}__).getSurname()}">
                Written by James Bond
            </h2>
            <div class="quotation-container">
                <cite class="quotation" th:text="${quotations.get(__${annotation.getQuoteId()}__).getQuote()}">Quote that is being quoted</cite>
            </div>
            <p th:text="${annotation.text}">Text of an annotation</p>
        </div>
    </th:block>
    </div>
</div>
</body>
</html>